{% extends "mainapp/base.html" %}

{% block content %}
  	<section>
  		<h2 class="page-header" style="margin-top:0px;">
  			About Gen
  		</h2>
      <p>
        Gen is a personalized news recommendation approach based on user’s behavior tracking.This news recommendation system has the capacity to collect news that is relevant to the user according to the news articles that he/she has read in the past.
      </p>
  	</section>

    <section>
      <a href="{% url 'signup' %}"> Click here </a> to get started.
    </section>
{% endblock %}