{% extends "mainapp/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-sm-6">
			<form class="form-horizontal well" method="post" action="{% url 'signup' %}">
				{{ form.non_field_errors }}
				<fieldset>
					{% csrf_token %}

					{% for field in form %}
					<div class="control-group" style="margin-top:15px;">
						{{ field.errors }}
						{{ field.label_tag }}
						<div class="controls">
							{{ field }}
						</div>
					</div>
					{% endfor %}

					<div class="control-group" style="margin-top:10px;">
						<button class="btn btn-lg btn-theme" type="submit">Signup</button>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}