{% extends "mainapp/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<section>
			  		<h2>Get Started</h2>
			  		<div class="hline"></div>
			  	</section>
			</div>
		</div>
		<div class="col-sm-4">
			<form class="form-horizontal well" method="post" action="{% url 'signup' %}">
				{% if message %}
					<div class="alert alert-info">{{ message }}</div>
				{% endif %}

				{{ form.non_field_errors }}
				<fieldset>
					{% csrf_token %}

					{% for field in form %}
					<div class="control-group" style="margin-top:15px;">
						{{ field.errors }}
						{{ field.label_tag }}
						<div class="controls">
							{{ field }}
						</div>
					</div>
					{% endfor %}

					<p style="margin-top:10px;"><button class="btn btn-lg btn-theme" type="submit">Sign Up</button></p>
					<p><a class="btn" href="{% url 'index' %}">Trying to login?</a></p>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}